<!-- templates/professional/dashboard.html -->

{% extends "layout.html" %}
{% block content %}
<h2>Service Professional Dashboard</h2>

<!-- Display pending service requests -->
<h3>Assigned Service Requests</h3>
<ul>
    {% for request in service_requests %}
    <li>
        <strong>Service:</strong> {{ request.service.name }} - {{ request.date_of_request }} <br>
        <strong>Status:</strong> {{ request.status }}
        {% if request.status == 'requested' %}
            <form action="{{ url_for('professional.accept_request', id=request.id) }}" method="post">
                <button type="submit">Accept</button>
            </form>
            <form action="{{ url_for('professional.reject_request', id=request.id) }}" method="post">
                <button type="submit">Reject</button>
            </form>
        {% elif request.status == 'assigned' %}
            <form action="{{ url_for('professional.close_request', id=request.id) }}" method="post">
                <button type="submit">Close Request</button>
            </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
